mat-card {
  width: 100%;
  box-sizing: border-box;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.acoes {
  margin-top: 16px;
  display: flex;
  gap: 16px;
  justify-content: center;
}
