mat-card {
  width: 100%;
  box-sizing: border-box;
}

.card-content {
  max-width: 960px;
  margin: 0 auto;
  padding: 16px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.acoes {
  margin-top: 16px;
  display: flex;
  gap: 16px;
  justify-content: center;
}
