.header-container {
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  padding: 0 16px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #006a6a;
  color: #FFFFFF;

  .mat-icon {
    color: #FFFFFF;
  }

  h1 {
    font-weight: normal;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .left-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    min-width: 0;
  }
}
